### Importing data

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("loan_data.csv")

In [12]:
print("Cases:",len(data.index))
print("Columns:",len(data.columns))
print("Data types:")
for key,vals in data.columns.groupby(data.dtypes).items():
    print(f"{key}:")
    print('\n'.join([f"   {val}" for val in vals]))

Cases: 255347
Columns: 18
Data types:
int64:
   Age
   Income
   LoanAmount
   CreditScore
   MonthsEmployed
   NumCreditLines
   LoanTerm
   Default
float64:
   InterestRate
   DTIRatio
object:
   LoanID
   Education
   EmploymentType
   MaritalStatus
   HasMortgage
   HasDependents
   LoanPurpose
   HasCoSigner

### Checking Distribution of Categorical Vars

In [74]:
melted_df=data.drop("LoanID",axis=1).melt()
counts=pd.DataFrame(melted_df[melted_df["value"].apply(lambda x: isinstance(x, str))].groupby("variable")['value'].value_counts())

total_counts = counts.groupby('variable')['count'].sum()

counts['proportion'] = counts.apply(lambda row: row['count'] / total_counts[row.name[0]], axis=1)
counts=counts.reset_index()

In [114]:
unique_list=list(counts["variable"].unique())
counts.style.background_gradient(axis=0,cmap='Spectral',gmap=counts['variable'].apply(lambda x: (unique_list.index(x))%3))

In [54]:
counts.to_csv("saved_data/dataset_counts.csv")

### Target Var Class Distribution

In [115]:
default_counts=pd.DataFrame(data["Default"].value_counts())
default_counts["proportion"]=default_counts/default_counts.sum()
default_counts

          count  proportion
Default
0        225694    0.883872
1         29653    0.116128

### Looking for missing values

In [32]:
data.isna().any()

LoanID            False
Age               False
Income            False
LoanAmount        False
CreditScore       False
MonthsEmployed    False
NumCreditLines    False
InterestRate      False
LoanTerm          False
DTIRatio          False
Education         False
EmploymentType    False
MaritalStatus     False
HasMortgage       False
HasDependents     False
LoanPurpose       False
HasCoSigner       False
Default           False
dtype: bool